.imperio {
    background-color: red;
}
.rebeldes {
    background-color: blue;
}
#darthVader {
    font-size:larger
}
#luke {
    font-style: italic;
}
.bordeSoldados {
    border: dashed;
}
.espacioSoldados {
    letter-spacing: normal;
}
.centrarUnidadesDeApoyo {
    text-align: center;
}
.navesMayusculas {
    text-transform: uppercase;
}